/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CODE */ 

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Open+Sans+Condensed:300,300i,700|Oranienbaum');

.menu{
	/*border: 2px solid blue;*/
	width: 60%;
	margin: 0 auto;
}

.menu ul{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding-top: 6%;
}

.menu a:before{
    content: '';
    position: absolute;
    background: #f2aacb;
    bottom: 2px;
    height: 10px;
    width: 100%;
    z-index: -1;
    -webkit-transform-origin: left center;
    transform-origin: left center;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: -webkit-transform cubic-bezier(0.785,.135,.15,.86) .4s;
    transition: -webkit-transform cubic-bezier(0.785,.135,.15,.86) .4s;
    transition: transform cubic-bezier(0.785,.135,.15,.86) .4s;
    transition: transform cubic-bezier(0.785,.135,.15,.86) .4s,-webkit-transform cubic-bezier(0.785,.135,.15,.86) .4s;
}

.menu a:hover:before{
	-webkit-transition: -webkit-transform cubic-bezier(0.785, .135, .15, .86) .6s;
    transition: -webkit-transform cubic-bezier(0.785, .135, .15, .86) .6s;
    transition: transform cubic-bezier(0.785, .135, .15, .86) .6s;
    transition: transform cubic-bezier(0.785, .135, .15, .86) .6s, -webkit-transform cubic-bezier(0.785, .135, .15, .86) .6s;
    -webkit-transform: scaleX(1);
    transform: scaleX(1)
}

.menu a{
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
	font-size: 25px;
	color: black;
	position: relative;
}

textarea {
	resize: none;
}

/* FORMULAIRE */
.formulaire{
	height: 600px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 300i;
	display: flex;
	flex-direction: column;
	justify-content: space-around;	
	align-items: center;
}

.form-label {
	font-size: 12px;
	color: #5e9bfc;
	margin: 0;
	display: block;
	opacity: 1;
	-webkit-transition: .333s ease top, .333s ease opacity;
	transition: .333s ease top, .333s ease opacity;
}

.form-control {
	border-radius: 0;
	border-color: #ccc;
   	border-width: 0 0 2px 0;
   	border-style: none none solid none;
   	box-shadow: none;
}

.form-control:focus {
	box-shadow: none;
	border-color: #5e9bfc;
}

.js-hide-label {
	opacity: 0; 	
}

.js-unhighlight-label {
	color: #999 
}

.envoyer {
	background-color: black;
	border: none;
    color: white;
    font-size: 16px;
    line-height: inherit;
    margin: 30px 0;
    padding: 10px 50px;
    text-transform: uppercase;
    transition: all 0.25s ease 0s;
}

.envoyer:hover,.envoyer:active, .envoyer:focus {
	background: #f2aacb;
	color: white;
	border: none;
}

.reseaux{
	display: flex;
	align-items: center;
	width: 540px;
	height: 70px;
}

ul li a img{
	width: 40%;
}